doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/lib/jquery.min.js')
    script(src='/javascripts/htmlparser.js')
    script(src='/javascripts/page.js')
    script(src='/javascripts/events.js')

  body
    block content
